.slider .list {
  display: inline-flex;
  white-space: nowrap;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  left: 0;
  animation: autoRun 6s linear infinite;
  min-width: calc(var(--width) * var(--quantity));
  margin: 10px;
}

.slider .list .item {
  display: inline-block;
  margin: auto;
  background-color: #F2DEA6;
  width: var(--width);
  height: calc(var(--height) - 40px);
  filter: grayscale(0.3);
  position: static;
  transition: 0.5s;
}

.slider .list .item img {
  width: 90%;
  height: 60%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  border-radius: 10px;
}
  
@keyframes autoRun {
  from {
/* Start off-screen to the right */
    opacity: 1;
    transform: translateX(calc(var(--order) * 100%));

  } to {
    transform: translateX(calc(var(--order) * 100% - 100%)); /* Move off-screen to the left */
    opacity: 1;
  }
}
    
  
  .slider:hover .item {
    animation-play-state: paused !important;
    filter: grayscale(1);
  }
  
  
  .slider .item:hover { 
    transform: scale(1.1); 
    filter: grayscale(0);
  }

  .slider:hover .list {
    animation-play-state: paused !important;
  }
  
  .item {
    background-color: white;
    border-radius: 20px;
    height: 300px;
  }

  .person-cont {
    display: block;
    width: 80% !important;
    height: 15% !important;
    font-size: 0.8rem;
    margin-left: 10px;
    margin-bottom: 0;
  }
  
  .em-text {
    color: #ff521b;
    font-weight: 700;
    font-family: 'Outfit';
    font-size: 1.1rem;
    filter: grayscale(0.4);
  }
  
  .name {
    display: block;
    font-size: 0.9rem;
  }