.slider {
    width: 100%;
    height: var(--height);
    padding: 10px;
    overflow: hidden;
    mask-image: linear-gradient(
      to right,
      transparent, 
      #000,
      transparent
    );
  }
  
  .slider .list {
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
    margin: 10px;
  }

    /* This will ensure that the first item in the list is always visible */  

    select {
    width: 40%;
    background-color: #FC9E4F;
    height: 70%;
    border-radius: 5px;
    border: none;
    font-size: 0.6em;
    margin-left: 0 !important;
    color: #010114;
    font-family: 'Outfit';
  }

  .message {
    text-wrap: nowrap;
    width: max-content;
    height: 50px;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #FF6333;
    border-radius: 5px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    filter: grayscale(0.4);
  }
  
  .message * {
    margin: 20px;
  }
  