body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #010114;
}

.dot {
  position: absolute;
  background-color: #FC9E4F;
  border-radius: 20px;
  width: 5px;
  height: 5px;
}


@keyframes rotating {
	0% {
		opacity: 0;
		transform: rotate(0deg);
	}
	25%, 75% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0;
		transform: rotate(360deg);
	}
}

@keyframes flying {
	0% {
		transform: translate(0, 0);
	}
	10% {
		transform: translate(20px, 50px);
	}
	20% {
		transform: translate(-30px, 10px);
	}
	30% {
		transform: translate(10px, 60px);
	}
	40% {
		transform: translate(50px, 00px);
	}
	50% {
		transform: translate(-10px, -40px);
	}
	60% {
		transform: translate(-40px, 20px);
	}
	70% {
		transform: translate(30px, -30px);
	}
	80% {
		transform: translate(0px, -60px);
	}
	90% {
		transform: translate(40px, 10px);
	}
	100% {
		transform: translate(0, 0);
	}
}
