* {
  font-family: 'Inter';
  margin: 0;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #010114;
  height: 800px;
}

.small-title {
  color: #FF6333;
  font-weight: 700;
  font-size: 2rem;
  margin: auto;
  display: flex;
  justify-content: center;
  text-shadow: #FF6333 0 0 3px;
  filter: grayscale(0.4);
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 1.75rem !important;
  }
  .nav-select {
    font-size: 0.75rem !important;
  }
  .message {
    width: 80% !important;
  }
}

/*

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*/
